{erl_opts, [debug_info]}.

{deps, [
    grisp,
    gun,
    grisp_cryptoauth,
    grisp_updater
]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {extras, [
          {"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/grisp_updater_grisp2"},
    {source_url, "https://github.com/grisp/grisp_updater_grisp2"}
]}.

{relx, [
    {release, {grisp_updater_grisp2, "0.2.1"}, [grisp_updater_grisp2]}
]}.

{profiles, [
    {prod, [
        {relx, [{sys_config, "config/sys.config"}]}
    ]},
    {dev, [
        {relx, [{sys_config, "config/dev.config"}]}
    ]},
    {local, [
        {deps, [
            {grisp_emulation, "0.2.2"}
        ]},
        {erl_opts, [
            {d, 'EMULATE_HARDWARE'}
        ]},
        {overrides, [
            {add, grisp_cryptoauth, [{erl_opts, [{d, 'EMULATE_CRYPTOAUTH'}]}]},
            {add, grisp_updater, [{erl_opts, [{d, 'USE_UNSEALED_MANIFEST'}]}]}
        ]},
        {shell, [
            {apps, [grisp_emulation, grisp_updater_grisp2]},
            {config, "config/local.config"}
        ]}
    ]}
]}.
