{erl_opts, [debug_info]}.

{deps, [
    grisp,
    {gun, "1.3.3"},
    {grisp_updater, {git, "https://github.com/grisp/grisp_updater.git", {branch, "main"}}}
]}.

{profiles, [
    {grisp, [
        {deps, [
            {grisp_cryptoauth, "2.3.0"}
        ]}
    ]},
    {prod, [
        {deps, [
            {grisp_cryptoauth, "2.3.0"}
        ]}
    ]},
    {test, [
        {deps, [
            {grisp_emulation, "0.2.0"}
        ]},
        {shell, [
            {apps, [grisp_emulation, grisp_updater_grisp2]},
            {config, "config/dev.config"}
        ]}
    ]}
]}.
